<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Wow Wow Discord</title>
  
  <meta name="description" content="A Discord server for Wubbzy fans">
  <meta name="application-name" content="WWD">
  <meta property="og:title" content="Wow Wow Discord">
  <meta property="og:type" content="object">
  <meta property="og:url" content="https://wubb.ga">
  <meta property="og:description" content="A Discord server for Wubbzy fans">
  <meta property="og:image" content="/assets/icon.gif">
  <meta name="keywords" content="discord, wubbzy, wow wow discord, community, wow wow wubbzy">
  <meta name="author" content="AndreMor">
  
  <script src="/header.js"></script>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.1/css/bulma.min.css">
  <link rel="icon" href="/favicon.ico" sizes="16x16">
</head>