<%- include('partials/header') -%>

<body style="background-image: none">
  
  <center style="font-size: 1.25rem;">
  <h1 class="title" style="margin-top: 13px;">About us</h1>
  <h2 class="subtitle" style="font-size: x-large;">We are a community of fans of the <i>Wow! Wow! Wubbzy!</i> show starting from 2008.</h2>
  <p>Our beginning goes back to the <a href="https://wubbzy.fandom.com/wiki/Wubbzypedia:About">Wiki of the series</a>, also managed by us.</p>
  <br>
  <p>The admins here basically make sure everything goes smoothly in the community. They also decide the new destinations for it, its members and its rules among the family.</p>
  <br>
  <p>We take care that Wubbzy and the series can be remembered by everyone.<br>We are also looking for new fans to join the family.</p>
  <br>
  <p>Are you a fan / do you remember the series / do you like it?<br><b>Easily join us :)</b></p>
  <br>
  <h2 id="wfamily" class="subtitle"><b>The Wubbzypedia Family</b></h2>
  <div>
    <span class="about-thing"><a href="https://wubbzy.fandom.com">Wubbzypedia</a></span>
    <span class="about-thing"><a href="https://discord.gg/5qx9ZcV">Wow Wow Discord</a></span>
    <span class="about-thing"><a href="https://www.reddit.com/r/wubbzy">r/wubbzy</a></span>
    <span class="about-thing"><a href="https://www.roblox.com/groups/7054763/Wow-Wow-Roblox">Wow Wow Roblox</a></span>
  </div>
</center>
  <%- include('partials/footer') -%>