<%- include('partials/header') -%>

<body>
        <div id="container" style="display: none;"></div>
        <div id="game-content">
                <br><br>
                        <a onclick="load('/amazing/wplatform_levels.swf')"><button class="button is-normal is-info">Wubbzy's Amazing Adventure
                        </button></a>
                        <br><br>
                        <a onclick="load('/under/under_main.swf')"><button class="button is-normal is-info">Wubbzy's Underwater
                                        Adventure</button></a>
                        <br><br>
                        <a onclick="load('/wubbgames/discodancing.swf')"><button class="button is-normal is-info">Disco Dancin'
                                        Wubbzy</button></a>
                        <br><br>
                        <a onclick="load('/wubbgames/kickball.swf')"><button class="button is-normal is-info">Kickety Kick Ball
                                        Bounce
                                        Out!</button></a>
                        <br><br>
                        <a onclick="load('/wubbgames/sketchitysketchpad.swf')"><button
                                        class="button is-normal is-info">Sketchity Sketch
                                        Pad</button></a>
                        <br><br>
                        <a onclick="load('/wubbgames/stackums.swf')"><button class="button is-normal is-info">Wuzzleburg
                                        Stack-ums</button></a>
                        <br><br>
                        <a onclick="load('/wubbgames/wubbhunt.swf')"><button class="button is-normal is-info">Wacky Wubb
                                        Hunt</button></a>
                        <br><br>
                        <a onclick="load('assets/wubbzy_s_soap_bubble_flyer_game.swf')"><button class="button is-normal is-info">
                                Wubbzy's Soap Bubble Flyer Game
                        </button></a>
        </div>
        <%- include('partials/footer') -%>